---
layout: default
---
<article id="text-all">
  <div class="post-header">
    <h1>
      <a href="{% include relative %}/index.html" style="font-size: 70%;color: #808080;" class="link">Back</a>
      {{ page.title | escape }}
    </h1>
    <p class="post-info">
    <time datetime='{{ page.date | date: "%Y/%m/%d-%a" }}'>{{ page.date | date: "%Y/%m/%d-%a" }}</time>
    {% for tag in page.tags %}
    | <a href="{% include relative %}/tags/#{{ tag | downcase }}">#{{ tag }}</a>
    {% endfor %}
    <hr>
    <div id="statistics">
      <span id="time-pass"></span><br>
      <span id="word-count"></span> | <span id="reading-time"></span>
    </div>
    <hr>
    </p>
  </div>
  <div id="main-text">
    {{ content }}
  </div>
</article>
<div id="content"></div>
<script src="https://fastly.jsdelivr.net/gh/zichenstudio/smoothscroll.js/dist/smoothscroll.min.js"></script>
<script src="{% include relative %}/script/contents.js" async></script>
<script>
  (function() {
    // 日期统计
    const ARTICALTIME = document.querySelector('time').innerText;
    const FORMATTIME = `${ARTICALTIME.substring(0, 4)}/${ARTICALTIME.substring(5, 7)}/${ARTICALTIME.substring(8, 10)}`;
    let timePass = parseInt((new Date() - new Date(FORMATTIME)) / 86400000);
    document.querySelector('#time-pass').innerHTML = `<strong>本文距今已逾${timePass}日，文中描绘乃当时情形，时过境迁，请注意辨别。</strong>`
    // 字数统计
    const WORDCOUNT = document.querySelector('#main-text').innerText.replace(/\s/g, "");
    document.querySelector('#word-count').innerHTML = `全文共${WORDCOUNT.length}字`
    document.querySelector('#reading-time').innerHTML = `预计阅读需要${Math.ceil(WORDCOUNT.length / 500)}分钟`
  })();
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/go.min.js"></script>
<script>
  hljs.highlightAll();
</script>
